.dash-card {
  max-width: 200px;
  display: inline-block;
  margin: 5px;
}

.dash-card-header-image {
  background-image: url('https://st4.depositphotos.com/4799321/20504/v/1600/depositphotos_205045952-stock-illustration-vector-cartoon-checklist-icon-comic.jpg');
  background-size: cover;
}
