.radio-question {
  margin: 15px 0 15px 0;
}

.anamnese-container {
  display: inline;
  position: relative;
  padding-left: 50px;
  margin-bottom: 12px;
  margin-right: 25px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.chapter-label {
  font-weight: bold;
}

/* Hide the browser's default radio button */
.anamnese-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.anamnese-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.anamnese-container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.anamnese-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.anamnese-container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.question-label {
  font-weight: bold;
}

.hasterix {
  color: red;
  font-size: large;
  font-weight: bold;
}
