@import './styles/bootstrap.min.css';
@import './app/styles/mixins';
@import '~@angular/material/theming';
@include mat-core();

$frontend-primary: mat-palette($mat-indigo);
$frontend-accent: mat-palette($mat-deep-orange, A200, A100, A400);
$frontend-warn: mat-palette($mat-red);

$frontend-theme: mat-light-theme($frontend-primary, $frontend-accent, $frontend-warn);

@include angular-material-theme($frontend-theme);

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.cdk-overlay-backdrop.cdk-overlay-backdrop-showing.dark-backdrop {
  background: #000;
  opacity: 0.75 !important;
}

// additional component theming
@include mat-grid-mixin($frontend-theme);

.float-right {
  float: right;
}

.full-with-field {
  width: 100%;
}

.m-t-5 {
  margin-top: 5px;
}

.form-row {
  display: block;
}

$spaceamounts: (5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 75, 100); // Adjust this to include the pixel amounts you need.
$sides: (top, bottom, left, right); // Leave this variable alone

@each $space in $spaceamounts {
  @each $side in $sides {
    .m-#{str-slice($side, 0, 1)}-#{$space} {
      margin-#{$side}: #{$space}px !important;
    }

    .p-#{str-slice($side, 0, 1)}-#{$space} {
      padding-#{$side}: #{$space}px !important;
    }
  }
}
